---
import HomeIcon from "../icons/Home.astro";
import CodeIcon from "../icons/Code.astro";
import UserIcon from "../icons/User.astro";
import MailIcon from "../icons/Mail.astro";
import DownloadIcon from "../icons/Download.astro";

const navItems = [
  {
    title: "Inicio",
    label: "inicio",
    url: "/#inicio",
    icon: HomeIcon,
  },
  {
    title: "Proyectos",
    label: "proyectos",
    url: "/#proyectos",
    icon: CodeIcon,
  },
  {
    title: "Sobre mí",
    label: "sobre_mi",
    url: "/#sobre_mi",
    icon: UserIcon,
  },
  {
    title: "Contacto",
    label: "contacto",
    url: "mailto:andresquintana2004@gmail.com",
    icon: MailIcon,
  },
  {
    target: "_blank",
    rel: "noopener noreferrer",
    title: "Descargar CV",
    label: "descargar_cv",
    url: "/CV_english.pdf",
    icon: DownloadIcon,
  },
];
---

<header
  class="flex fixed top-0 z-10 mt-2 justify-center items-center py-8 w-full mx-auto"
>
  <nav class="flex flex-row gap-x-10">
    {
      navItems.map((item) => (
        <a
          class="flex flex-row gap-x-2 px-2 py-2 transition hover:text-blue-400"
          aria-label={item.label}
          href={item.url}
          rel={item.rel}
          target={item.target}
        >
          <item.icon />
          {item.title}
        </a>
      ))
    }
  </nav>
</header>
