---
import HtmlIcon from "../icons/Html.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import TypeScriptIcon from "../icons/TypeScript.astro";

const TECHS = {
  HTML: {
    name: "Html",
    class: "[border-color:#f06529]",
    icon: HtmlIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "[border-color:#38BDF8]",
    icon: TailwindIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "[border-color:#3178c6]",
    icon: TypeScriptIcon,
  },
};

const PROJECTS = [
  {
    title: "Portafolio Web - Andrés Quintana",
    description:
      "Este es mi portafolio personal el cuál creo como mi primer proyecto para iniciarme en el desarrollo web, especialmente como desarrollador frontend.",
    github: "https://github.com/AndrxsQ/Portafolio",
    link: "",
    image: "/projects/Portafolio.webp",
    techs: [TECHS.HTML, TECHS.TAILWIND, TECHS.TYPESCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, link, github, image, techs }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              src={image}
              alt={`Captura de pantalla del proyecto ${image}`}
              loading="lazy"
            />
          </div>
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-semibold text-red-500 mb-2">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <nav class="flex flex-row mb-2 gap-x-2">
              {techs.map((tech) => (
                <span
                  class={`flex gap-x-2 rounded-full text-sm ${tech.class} py-2 px-4 items-center text-white font-semibold border-2`}
                >
                  <tech.icon class="size-6" />
                  {tech.name}
                </span>
              ))}
            </nav>
          </div>
          <footer />
        </div>
      </article>
    ))
  }
</div>
