---
import GithubIcon from "../icons/GitHub.astro";
import HtmlIcon from "../icons/Html.astro";
import LinkIcon from "../icons/Link.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import TypeScriptIcon from "../icons/TypeScript.astro";
import LinkButton from "./LinkButton.astro";

const TECHS = {
  HTML: {
    name: "Html",
    class: "[border-color:#f06529]",
    icon: HtmlIcon,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "[border-color:#38BDF8]",
    icon: TailwindIcon,
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "[border-color:#3178c6]",
    icon: TypeScriptIcon,
  },
};

const PROJECTS = [
  {
    title: "Portafolio Web - Andrés Quintana",
    description:
      "Este es mi portafolio personal el cuál creo como mi primer proyecto para iniciarme en el desarrollo web, especialmente como desarrollador frontend.",
    github: "https://github.com/AndrxsQ/Portafolio",
    link: "",
    image: "/projects/Portafolio.webp",
    techs: [TECHS.HTML, TECHS.TAILWIND, TECHS.TYPESCRIPT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, link, github, image, techs }) => (
      <article class="flex flex-col space-x-0 space-y-8 md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <img
            class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110"
            src={image}
            alt={`Captura de pantalla del proyecto ${image}`}
            loading="lazy"
          />
        </div>
        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-3xl font-semibold text-blue-500 mb-2">{title}</h3>
          <div class="flex flex-wrap mt-2">
            <nav class="flex flex-row mb-2 gap-x-2">
              {techs.map((tech) => (
                <span
                  class={`flex gap-x-2 rounded-full text-sm ${tech.class} py-1 px-2 items-center text-white border`}
                >
                  <tech.icon class="size-4" />
                  {tech.name}
                </span>
              ))}
            </nav>
            <p class="text-lg mb-4 text-pretty">{description}</p>
          </div>
          <footer class="flex flex-row gap-x-1">
            <LinkButton href={github}>
              <GithubIcon class="size-6" />
              Code
            </LinkButton>
            <LinkButton href={link}>
              <LinkIcon class="size-6" />
              Ir al proyecto
            </LinkButton>
          </footer>
        </div>
      </article>
    ))
  }
</div>
